    @page
@model HerGuardian.Pages.Account.LoginModel
@{
}
<form method="post">
    <input asp-for="Login.Email" placeholder="Email" />
    <input asp-for="Login.Password" type="password" placeholder="Password" />
    <button type="submit">Login</button>
</form> 